section.main {
  width: 80%;
  margin: 5px auto;
  padding: 1.5rem;
  border: 1px solid blue;
  display: flex;
  gap: 3px;
  article {
    flex: 1;
    border: 1px solid green;
  }
}

article.list {
  display: flex;
  flex-direction: column;
  padding: 16px;
  overflow: auto;
  form,
  table {
    width: 90%;
    border: 1px solid #ddd;
    margin: 0 auto;
  }
  form input {
    display: block;
    width: 90%;
    margin: 5px auto;
    /* input box 에 border-radius 를 설정할때는 좌우 padding 을 좀 크게하자 */
    padding: 12px 20px;
    border-radius: 20px;
    border: 1px solid #ddd;
    outline: none;
  }
  table {
    td,
    th {
      padding: 12px;
      border-bottom: 1px solid #ddd;
      text-align: left;
      white-space: nowrap;
    }
  }
}

table.books tbody {
  tr:nth-of-type(odd) {
    background-color: #eee;
  }
  tr:hover {
    background-color: #ddd;
    cursor: pointer;
  }
}
